html {
  height: 100%;
}

body {
  height: 100%;
  background: hsla(206, 23%, 42%, 1);

  background: linear-gradient(90deg, hsla(206, 23%, 42%, 1) 0%, hsla(203, 21%, 68%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(206, 23%, 42%, 1) 0%, hsla(203, 21%, 68%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(206, 23%, 42%, 1) 0%, hsla(203, 21%, 68%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#526D82", endColorstr="#9DB2BF", GradientType=1);
  color: white;
}

.body {
  margin: 5rem 0 4rem;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

h1+p {
  text-align: center;
}

.shelf {
  position: relative;
  width: 47rem;
  height: 100%;
  margin: 0 auto;
  border: 0.5rem solid #374d5b;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  perspective: 130rem;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.2);
}

.shelf #displayed-photo {
  width: 100%;
  height: 400px;
}

.door {
  position: absolute;
  top: 0;
  width: 23rem;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #374d5b;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  outline: 1px solid transparent;
}

.door::before {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}

.door.left {
  border-radius: 0 0.75rem 0.75rem 0;
  justify-content: flex-end;

}

.shelf:hover .door.left {
  animation:
    leftDoorOpen 3.5s ease-out forwards 1s;
  transform-origin: 0 0 0;
}

.door.right {
  right: 0;
  border-radius: 0.75rem 0 0 0.75rem;
}

.shelf:hover .door.right {
  animation:
    rightDoorOpen 3s ease-out forwards 1.5s;
  transform-origin: 100% 0 0;
}

.btn-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.btn-contact {
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: #ffffff1a;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: inset 0 0 0.75rem #ffffff1a;
}

@-webkit-keyframes leftDoorOpen {
  60% {
    transform: rotateY(-100deg)
  }

  100% {
    transform: rotateY(-95deg)
  }
}

@keyframes leftDoorOpen {
  60% {
    transform: rotateY(-100deg)
  }

  100% {
    transform: rotateY(-95deg)
  }
}

@-webkit-keyframes rightDoorOpen {
  60% {
    transform: rotateY(100deg)
  }

  100% {
    transform: rotateY(95deg)
  }
}

@keyframes rightDoorOpen {
  60% {
    transform: rotateY(100deg)
  }

  100% {
    transform: rotateY(95deg)
  }
}

@media (max-width: 1000px) {
  .shelf {
    width: 37rem;
  }

  .door {
    width: 18rem;
  }

  .shelf #displayed-photo {
    height: 350px;
  }
}

@media (max-width: 800px) {
  .shelf {
    width: 25rem;
  }

  .door {
    width: 12rem;
  }

  .shelf #displayed-photo {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .shelf {
    width: 20rem;
  }

  .door {
    width: 9.5rem;
  }

  .shelf #displayed-photo {
    height: 200px;
  }

  .btn-contact {
    padding: 0.5rem 1.5rem;
  }
}