body {
    background-color: #DDE6ED;
}

.feedback-form {
    /* border: 3px solid #27374d; */
    border-radius: 15px;
    width: 70%;
    margin: 3rem auto;
    padding: 20px;
    font-size: 16px;
    background: hsla(206, 23%, 42%, 1);

    background: linear-gradient(90deg, hsla(206, 23%, 42%, 1) 0%, hsla(203, 21%, 68%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(206, 23%, 42%, 1) 0%, hsla(203, 21%, 68%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(206, 23%, 42%, 1) 0%, hsla(203, 21%, 68%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#526D82", endColorstr="#9DB2BF", GradientType=1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.feedback-form h1 {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    padding: 25px;
    background-color: #526D82;
    margin-bottom: 1rem;
}

.feedback-form label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 0px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    outline: none;
    border: 2px solid #27374D;
}

.feedback-form textarea {
    height: 150px;
}

.feedback-rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.feedback-rating div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.feedback-form input[type="submit"] {
    background-color: #27374D;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    width: 50%;
    position: relative;
    left: 25%;
    font-weight: bold;
    transition: background-color 0.8s ease;
}

/* Radio button group */
.feedback-rating input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    accent-color: #27374D;
}

.feedback-rating label {
    cursor: pointer;
}

@media (max-width: 768px) {
    .feedback-form {
        width: 80%;
    }

    .feedback-rating {
        flex-direction: column;
        align-items: flex-start;
    }

    .feedback-rating div {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 576px) {
    .feedback-form {
        width: 90%;
    }

}