* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav {
    font-family: 'Roboto Condensed', sans-serif;
    width: 85%;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: #27374D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    position: relative;
    top: 20px;
}

nav h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 30px;
}

.link {
    font-size: 18px;
    color: #ceeafb;
    transition: color 0.5s ease-in-out;
}

.link:hover {
    font-size: 18px;
    color: #526D82;
}

.active-link {
    text-decoration: underline;
}

.drawer{
    font-size: 30px;
    color: white;
    float: right;
    cursor: pointer;
    display: none;
    line-height: 60px;
}

#check{
    display: none;
}


footer{
    background-color: #27374D;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 2rem;
}

@media (max-width: 768px){
    .drawer{
        display: block;
    }

    nav {
        padding: 0 2rem;
    }

    nav ul{
        position: absolute;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #27374D;
        top: 44px;
        display: none;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 20px;
    }

    #check:checked ~ #d{
        left: 0;
        display: block;
    }
}

/* --------Footer--------- */

.footer-item{
    list-style-type: none;
}

.footer-item li{
    font-size: 20px;
    padding: 0.5rem;
}

.footer-item li a{
    text-decoration: none;
    color: white;
}

.head{
    font-size: 25px;
    font-weight: bolder;
}

.copy-rights-paragraph {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

@media (max-width: 576px) {
    nav {
        width: 90%;
    }

    footer {
        justify-content: flex-start;
    }
}