html{
    scroll-behavior: smooth;
    scroll-padding: 0.1rem;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------------------------------ */

.description-container {
    background-color: #526D82;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 70%;
    margin: 0 auto;
}

.description h2 {
    font-size: 2.5rem;
}

.lower {
    display: flex;
    font-size: 1.1rem;
}

.lower .left {
    width: 50%;
}

.lower .right {
    width: 50%;
}

.left>a:hover{
    font-size: 18px;
    color:#27374D;
}

.offer{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.txt{
    width: 70%;
    font-size: 1.1em;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.txt h3, .vision h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.cards{
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    position: relative;
    top: 0;
    left: 0;
    width: 230px;
    height: 290px;
    margin: 1rem;
    border-radius: 4px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.card:hover{
    transform: rotateY(180deg);
    cursor: pointer;
}

.front{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.back{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.3rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

.back h1{
    font-size: 2.5em;
    margin-bottom: 0.5rem;
}

.back p{
    font-size: 1.2em;
}

.vision{
    width: 100%;
    padding: 2rem 0;
    background-color: #DDE6ED;
    font-size: 1.1em;
}

.vision p, .vision h3{
    margin: 0 auto;
    width: 70%;
}

.explore{
    background-color: #27374D;
    width: 100%;
    padding: 2rem 1rem 0;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.explore>h1{
    color: white;
    font-size: 2.2em;
}

.btn{
    border-radius: 4px;
    background-color: #9DB2BF;
    color: black;
    box-shadow: #878787 4px 4px;
    padding: 10px;
    font-size: 22px;
    transition: 0.7s;
}

.btn:hover{
    background-color: #526D82;
    color: white;
    box-shadow: #878787 4px 4px;
    transition: 0.7s;
}


/* -------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
    .description {
        width: 90%;
    }

    .upper {
        text-align: center;
    }

    .lower {
        flex-direction: column;
        align-items: center;
    }

    .lower .left {
        width: 80%;
        margin-bottom: 0.5rem;
    }

    .lower .right {
        width: 80%;
    }

    .cards{
        margin-top: 1em;
    }

    .card{
        height: 230px;
        width: 170px;
    }

    .back{
        font-size: x-small;
    }

    .vision p, .vision h3 {
        width: 80%;
    }
}

@media (max-width: 576px){
    .lower .left {
        width: 90%;
    }

    .lower .right {
        width: 90%;
    }

    .txt {
        width: 80%;
    }

    .card{
        height: 200px;
        width: 140px;
    }

    .vision p, .vision h3 {
        width: 90%;
    }

    .explore>h1{
        font-size: 2em;
        margin-right: 0.5rem;
    }

    .explore a {
        margin-top: 1rem;
    }
}
